.menu-bar {
  display: flex;
  justify-content: space-between;
  background-color: #87c7d4;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 30%;
  max-width: 150px;
  border-radius: 10%;
}

.logo img {
  width: 100%;
  height: auto;
}

.menu-bar h2 {
  flex: 1;
  text-align: center;
  color: #000000;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

#downloadData {
  margin-top: 20px;
  margin-left: 10px; /* Adjust margin as needed */
}

.well {
    text-align: justify;
    border-radius: 5px;
    margin: 0 auto;
}

.well p {
    margin: 0;
}
